/*Base CSS Styles*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

header {
  position: absolute;
  text-align: center; }
  header h1 {
    color: #90D9F9;
    font-size: 3em;
    margin: 0; }
  header h2 {
    color: #FFCA8E;
    font-size: 2em;
    margin: 0 0 1em 0; }

a {
  text-decoration: none; }

nav ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0 0 2em 0; }
  nav ul li {
    display: inline-block;
    margin: 0 1em; }

nav a {
  border: 5px solid #0892D0;
  border-radius: 5px;
  color: #90D9F9;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  margin: auto;
  transition: color .75s, border-color .75s;
  width: 5em; }
  nav a:hover {
    border-color: #FF8700;
    color: #FFCA8E; }

#section-1 {
  background-color: #121F24;
  position: relative; }

#section-2 {
  background-color: #90D9F9; }

#paragraphs {
  left: 50%;
  min-width: 420px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }
  #paragraphs p {
    color: #121F24;
    font-size: 1.25em;
    text-align: left; }
    #paragraphs p a {
      color: #FF8700;
      font-weight: bolder; }
      #paragraphs p a:hover {
        color: #392B1B; }

/*Large-Screen CSS Styles*/
html, body {
  overflow: hidden; }

header {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 484px; }

#section-1, #section-2 {
  display: inline-block;
  width: 50%;
  height: 100%; }

#section-2 {
  left: 50%;
  position: absolute; }

/*Medium-Screen CSS Styles*/
@media only screen and (max-width: 999px) {
  html, body {
    overflow: visible; }
  #section-1, #section-2 {
    display: block;
    width: 100%; }
  #section-1 {
    height: 300px; }
  #section-2 {
    left: 0%;
    position: relative;
    height: auto;
    padding: 2em 0; }
  #paragraphs {
    top: auto;
    transform: translateX(-50%);
    margin: 0; }
  p {
    font-size: 1em; } }

/*Small-Screen CSS Styles*/
