*{
	text-align: center;
	color: #90D9F9;
}

body{
	background-color: #121F24;
}

header {
  margin: 3em auto;
}

header h1 {
  color: #90D9F9;
  font-size: 3em;
  /*margin: 0;*/
}

a {
  text-decoration: none; }

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav a {
  border: 5px solid #0892D0;
  border-radius: 5px;
  color: #90D9F9;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  margin: auto;
}

nav a:hover {
  border-color: #FF8700;
  color: #FFCA8E;
}