html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

header{
	position: absolute;
	text-align: center;

	h1{
		color: $colorPrimaryLight;
		font-size: 3em;
		margin: 0;
	}

	h2{
		color: $colorSecondaryLight;
		font-size: 2em;
		margin: 0 0 1em 0;
	}
}

a{
	text-decoration: none;
}

nav{

	ul{
		list-style: none;
		padding: 0;

		li{
			display: inline;
			margin: 0 1em;
		}
	}

	a{
		border: 5px solid $colorPrimary;
		border-radius: 5px;
		color: $colorPrimaryLight;
		font-size: 1.2em;
		font-weight: bold;
		padding: 5px;
		margin: auto;

		&:hover{
			border-color: $colorSecondary;
			color: $colorSecondaryLight;
		}
	}
}

#section-1{
	background-color: $colorPrimaryDark;
	position: relative;
}

#section-2{
	background-color: $colorPrimaryLight;
}

#paragraphs{
	left: 50%;
	min-width: 420px;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;

	p{
		color: $colorPrimaryDark;
		font-size: 1.25em;
		text-align: left;

		a{
			color: $colorSecondary;
			font-weight: bolder;
			&:hover{
				color: $colorSecondaryDark;
			}
		}
	}
}