
html, body{
	overflow: hidden;
}

header{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	min-width: 484px;
}

#section-1, #section-2{
	display: inline-block;
	width: 50%;
	height: 100%;
}

#section-2{
	left: 50%;
	position: absolute;
}